## Exploring the Gasoline Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as stats
%matplotlib inline

/Users/Kate/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/Kate/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/Kate/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/Kate/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/Kate/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [8]:
# read in the 
concat_df = pd.read_csv('../../data/02_intermediate/routine_clean.csv')
concat_df.head()

/Users/Kate/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
1,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,None
2,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,None
3,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 10%,Deg. C,D86,43.1,,,Y
4,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 20%,Deg. C,D86,51.0,,,None

In [10]:
concat_df.Prod.unique()

array(['Gasoline', 'Diesel', 'Kerosene', 'E-85 Fuel Ethanol',
       'Biodiesel Blend', 'Aviation Gasoline', 'Denat. Fuel EtOH',
       'Jet Fuel', 'Ethanol Flex Fuel', 'Gasoline Blend Stock',
       'Fuel Oils'], dtype=object)

In [11]:
gasoline_df = concat_df[concat_df.Prod == 'Gasoline']

In [20]:
gasoline_df.head()

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
0,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
1,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,None
2,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,None
3,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 10%,Deg. C,D86,43.1,,,Y
4,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 20%,Deg. C,D86,51.0,,,None

In [21]:
gasoline_df.Test.unique()

array(['Antiknock Index', 'API Gravity', 'DIPE', 'Distillation 10%',
       'Distillation 20%', 'Distillation 30%', 'Distillation 40%',
       'Distillation 5%', 'Distillation 50%', 'Distillation 60%',
       'Distillation 70%', 'Distillation 80%', 'Distillation 90%',
       'Distillation 95%', 'Distillation E.P.', 'Distillation IBP',
       'Distillation Loss', 'Distillation Recovery',
       'Distillation Residue', 'Driveability Index', 'ETBE', 'Ethanol',
       'iso-Butanol', 'Methanol', 'Motor Octane Number', 'MTBE',
       'n-Butanol', 'Phase Separation', 'Propanols', 'Relative Density',
       'Research Octane Number', 'sec-Butanol', 'TAME', 'tert-Butanol',
       'tert-Pentanol', 'Total Oxygen', 'Vapor Pressure',
       'Vapor-Liquid Ratio', 'Workmanship', nan,
       'Enter a Product and Grade'], dtype=object)

In [22]:
gasoline_df.describe()

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
count,798619,798619,798619,798619,674342,798619,792612,798343,798336,798336,796405,671696,685561,798619
unique,20703,1,1196,5,916,8166,8077,40,6,11,4130,68,154,3
top,809215105,Gasoline,2015-04-23,Regular Unleaded,NFRY-AKVRCW,QUICK STOP,3903 Volunteer Dr,API Gravity,Deg. C,D86,ND,,,None
freq,117,798619,1809,418174,22975,848,459,20752,311280,332032,221887,583176,562818,543044

In [26]:
gasoline_df.DateSampled = pd.to_datetime(gasoline_df.DateSampled)

/Users/Kate/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [37]:
gasoline_date_index_df =gasoline_df.set_index(gasoline_df.DateSampled)
gasoline_date_index_df.head()

,Sample,Prod,DateSampled,Grade,Supplier,FacilityName,SiteAddress,Test,Units,Method,Result,MinResult,MaxResult,Compliance
DateSampled,,,,,,,,,,,,,,
2015-11-23,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Antiknock Index,,R+M/2,89.8,87,,Y
2015-11-23,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",API Gravity,,D4052,60.9,,,None
2015-11-23,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",DIPE,Vol. %,D4815,ND,,,None
2015-11-23,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 10%,Deg. C,D86,43.1,,,Y
2015-11-23,61916134,Gasoline,2015-11-23,Mid Grade Unleaded,Marathon Petroleum Lp,Circle K #2723609,"198 Haywood Ln \r\nnashville, Tn 37211",Distillation 20%,Deg. C,D86,51.0,,,None

### Add in the regulations based on year

In [ ]:
vapor_liquid_minC_dict = {'1' : 54, '2' : 50, '3' : 47, '4' : 42, '5' : 39, '6' : 35}
distillation_50_minC = {'AA' : 77, 'A' : 77, 'B' : 77, 'C' : 77, 'D' : 77, 'E' : 77}
distillation_50_maxC = {'AA' : 121, 'A' : 121, 'B' : 118, 'C' : 116, 'D' : 113, 'E' : 110}
vapor_pressure_maxC = {'AA' : 54, 'A' : 62, 'B' : 69, 'C' : 79, 'D' : 93, 'E' : 103}

Tenn_seasons_retailers = {'Jan' : 'E-5/D-4', 'Feb' : 'D-4', 'Mar' : 'D-4', 'Apr' : 'D-4/A-3', 'May' : 'A-3/C-3', 'June' : 'A-3', 'July' : 'A-3', 'Aug' : 'A-2', 'Sept_1_15' : 'A-2', 'Sept_16_30' : 'A-2/C-3', 'Oct' : 'C-3/D-4', 'Nov' : 'D-4', 'Dec' : 'D-4/E-5'}

### Individual tests and creating trends

In [38]:
# Dates and Test and compliance column
gasoline_date_index_df.columns
gasoline_date_index_df.drop(columns=['Sample', 'Prod', 'DateSampled', 'Grade', 'Supplier', 'FacilityName',
       'SiteAddress', 'Method', 'Units', 'MinResult',
       'MaxResult'], inplace=True)

In [39]:
gasoline_date_index_df.head()

                         Test Result Compliance
DateSampled
2015-11-23    Antiknock Index   89.8          Y
2015-11-23        API Gravity   60.9       None
2015-11-23               DIPE     ND       None
2015-11-23   Distillation 10%   43.1          Y
2015-11-23   Distillation 20%   51.0       None

In [40]:
# Make a distillation dataset
distillation_50_df = gasoline_date_index_df[gasoline_date_index_df.Test == 'Distillation 50%']
distillation_50_df.rename(columns={"Result": "Result_deg_C"}, inplace =True)
distillation_50_df.head()

/Users/Kate/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                         Test Result_deg_C Compliance
DateSampled
2015-11-23   Distillation 50%         73.3          Y
2015-11-24   Distillation 50%         67.4          Y
2015-11-24   Distillation 50%         69.2          Y
2015-11-24   Distillation 50%         67.7          Y
2015-12-02   Distillation 50%         90.5          Y

In [ ]:
# import seasonal_decompose
from statsmodels.tsa.seasonal import seasonal_decompose
decomposition = seasonal_decompose(np.log(ts))